#gc-stats {
	background: #ffffff;
	border-bottom: 1px solid #dbdbdb;
	min-height: 83px;
	font-size: 13px;
	line-height: none;
	font-weight: 100;
	color: #101010;
	text-transform: uppercase;
	margin-bottom: 30px;
	text-align: center;
}

#gc-stats .container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 768px) {
	#gc-stats .container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	#gc-stats .container {
		width: 1024px;
	}
}



@media (min-width: 1200px) {
	#gc-stats .container {
		width: 1200px;
	}
}

#gc-stats .row {
	margin-left: -15px;
	margin-right: -15px;
}

@media (min-width: 770px) {
	#gc-stats .row > div {
		display: inline-block;
		margin: 10px 0 10px 10px;
		padding: 10px 10px 10px 40px;
	}
}

#gc-stats span {
	font-size: 18px;
	padding: 0 0px 0 0;
	display: block;
}

#gc-stats .cu_members {
	background: url(../img/icon_members.png) no-repeat left;
}

#gc-stats .fb_likes {
	background: url(../img/fb_icon.jpg) no-repeat left;
}

#gc-stats .tweet_follow {
	background: url(../img/tweet_icon.jpg) no-repeat left;
}

#gc-stats .instagram {
	background: url(../img/instagram.png) no-repeat left;
}

#gc-stats .youtube {
	background: url(../img/youtube.png) no-repeat left;
}

#gc-stats .gplus {
	background: url(../img/google_plus.png) no-repeat left;
}

#gc-stats .linkedin {
	background: url(../img/linkedin.png) no-repeat left;
}

#gc-stats .periscope {
	background: url(../img/periscope_icon.jpg) no-repeat left;
}

@media only screen and (max-width: 600px) {
	#gc-stats {
		padding-left: 50px;
	}
}

@media only screen and (max-width: 380px) {
	#gc-stats {
		padding-left: 40px;
	}
}

@media only screen and (max-width: 325px) {
	#gc-stats {
		padding-left: 33px;
	}
}

@media (max-width: 769px) {
	#gc-stats .row > div {
		float: left;
	}
}

@media only screen and (max-width: 768px) {
	#gc-stats .tweet_follow, 
	#gc-stats .fb_likes, 
	#gc-stats .cu_members, 
	#gc-stats .instagram, 
	#gc-stats .youtube, 
	#gc-stats .gplus, 
	#gc-stats .periscope, 
	#gc-stats .linkedin {
		padding: 10px 0 0 0;
		width: 25%;
		font-size: 11px;
		background-position: 20px;
	}
}

@media only screen and (max-width: 600px) {
	#gc-stats .tweet_follow, 
	#gc-stats .fb_likes, 
	#gc-stats .cu_members, 
	#gc-stats .instagram, 
	#gc-stats .youtube, 
	#gc-stats .gplus, 
	#gc-stats .periscope, 
	#gc-stats .linkedin {
		width: 50%;
		margin: 0px;
		padding: 10px 0 0 0;
		font-size: 11px;
		background-position: left;
	}
}